#map {
    /*position: relative;*/
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    border-left: 1px solid #aaa;
    padding: 0;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.about {
    position: absolute;
    width: 320px;
    height: 380px;
    background: white;
    opacity: 0.7;
    left: 10px;
    bottom: 10px;
    padding: 12px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}